<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Sacchon</title>
  </head>
  <body>
    <div class="row m-0 vh-100">
      <div class="bg-custom-1 p-0" id="navbarToggleExternalContent">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">
                Main Dashboard
                <i class="bi bi-house-door"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Blood Glucose Level Recordings
                <i class="bi bi-graph-up"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Daily Carbonates Intake
                <i class="bi bi-calculator"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                My Consultations
                <i class="bi bi-chat-dots"></i>
              </a>
            </li>
            <li class="nav-item">
                <a class ="nav-link" routerLink="/my-account">
                My Account
                <i class="bi bi-person"></i>
              </a>
            </li>
          </ul>               
      </div>
      <!-- <div class="col-md-10 p-0" id="headBar">
        <div class="main-toolbar bg-custom-2 p-3">
          <h2 class="m-0 pl-4 ms-2">My App</h2>
        </div>
        <div class="row m-0">
          <div class="col-md-12 p-3">
            <h1>My content</h1>
          </div>
        </div>
      </div> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
    <!-- <script>
      function openNav() {
            
            var myNav = document.getElementById("navbarToggleExternalContent");
            
            myNav.style.display = myNav.style.display === 'none' ? '' : 'none';
            
            document.getElementById("demo").onclick = closeNav;
      
            var element = document.getElementById("uiNavbar");
      
            var x = window.matchMedia("(max-width: 700px)");
      
            if (x.matches) {
      
                  element.classList.remove("col-12");
      
                  element.classList.remove("col-md-12");
      
                  element.classList.add("col-6");
      
                  element.classList.add("col-6");
      
      
            } else{
      
                  element.classList.remove("col-md-12");
                 
                  element.classList.remove("col-12");
      
                  element.classList.add("col-md-10");
                  
                  element.classList.add("col-6");
      
      
            }
      
      }
      
      function closeNav() {
      
            document.getElementById("navbarToggleExternalContent").style.display = "none";
            
            document.getElementById("demo").onclick = openNav;
      
            var element = document.getElementById("uiNavbar");
      
            var x = window.matchMedia("(max-width: 700px)");
      
            if (x.matches) {
      
                  element.classList.remove("col-md-10");
      
                  element.classList.remove("col-6");
      
                  element.classList.add("col-12");
      
                  element.classList.add("col-md-12");
      
      
            } else{
      
                  element.classList.remove("col-sm-10");
      
                  element.classList.remove("col-md-10");
      
                  element.classList.add("col-md-12");
                  
                  element.classList.add("col-12");
      
            }
      
          
      }
      
    </script> -->
  
</body>
</html>