<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Sacchon</title>
  </head>
  <body>
    <div class="row m-0">
      <div class="bg-custom-1 p-0" id="navbarToggleExternalContent">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">
                Dashboard
                <i class="fas fa-home"></i>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Blood Glucose Level
                <i class="fas fa-chart-line"></i>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Daily Carbonates Intake
                <i class="fas fa-calculator"></i>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                My Consultations
                <i class="fas fa-notes-medical"></i>
            </a>
            </li>
            <li class="nav-item">
                <a class ="nav-link" routerLink="/my-account">
                My Account
                <i class="fas fa-user"></i>
            </a>
            </li>
          </ul>               
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
</body>
</html>