<h5>My Account</h5>

<div class="card Account m-3" >
    <div class="card-body">
      <div class="row">
        <div class="col-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
        </div>
        <div class="col-11">
          <h3 class="card-title">{{ patient.firstName }} {{ patient.lastName }}</h3>
        </div>
      </div>
            
      <p class="card-text">Username: {{ patient.username }} </p>
      <p class="card-text">Amka Code: {{ patient.amkaCode }} </p>
      <p class="card-text">Date of Birth: {{ patient.dateOfBirth }} </p>
      <p *ngIf="patient.doctorId" class="card-text">Doctor ID: {{ patient.doctorId }} </p>
      <!-- <button class="btn delete" (click)="deleteAccount()"> Delete Account </button> -->
    </div>
  </div>
