.bg-custom-2{
    background-color: #092349;
    
    }
h1{
    color: #ffffff;
    margin: 0px;
    }
    
@media (max-width: 1067px) {
    .col-2 {
      display: none;
    }
  }
// .col-10{
//     background-image: url("./background_image.jpeg");   
// }
