//For Moving MediDataVault Title
.title-word {
    animation: color-animation 4s linear infinite;
}

.title-word-1 {
    --color-1: #A4B8FF;
    --color-2: #1277ed;
    --color-3: #2ad2d5;
}

.title-word-2 {
    --color-1: #FFEBA4;
    --color-2: #2ad2d5;
    --color-3: #A4B8FF;
}

.title-word-3 {
    --color-1: #1277ed;
    --color-2: #60A3F0;
    --color-3: #FFEBA4;
}



@keyframes color-animation {
    0% {
        color: var(--color-1)
    }

    32% {
        color: var(--color-1)
    }

    33% {
        color: var(--color-2)
    }

    65% {
        color: var(--color-2)
    }

    66% {
        color: var(--color-3)
    }

    99% {
        color: var(--color-3)
    }

    100% {
        color: var(--color-1)
    }
}

/* Here are just some visual styles. 🖌 */


.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 5.5vw;

}


#header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }