<div class="card" id="addnewcard" style="width: 70rem;">
    <div class="card-body" >
        <form [formGroup]="createForm" (ngSubmit)="createDCI()"> 
            <legend><b>Add New Daily Carbonate Intake</b></legend>
            <br>
            <br>
            <div class="mb-3">
                <label  class="form-label"><b>Measurement (mg/dL)</b></label>
                <input type="number" step=any class="form-control" formControlName="measurement">
            </div>
            <div class="mb-3">
                <label  class="form-label"><b>Date</b></label>
                <input type="date" class="form-control" formControlName="date">
            </div>
            <button id="submit_button" [disabled]="createForm.invalid" class="btn btn-primary" (click)="redirect_add()"> Submit </button>
        </form>
    </div>
</div>

<!-- <pre>{{ response | json }}</pre> -->

