#editcard {
    margin: auto;
    width: auto;
    max-width: auto;
    margin-top: 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

legend {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
#update_button{
    margin-top: 12px;
    font-size: 20px;
}
