<body>
    <div class="skill">
        <div class="outer">
            <div class="inner">
                <h2 id="number">
                    {{numRecordings}}<span class="smaller">/30</span>
                </h2>

            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
            <defs>
                <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#FFDF76" />
                    <stop offset="100%" stop-color="#FFC300" />
                </linearGradient>
            </defs>
            <circle cx="80" cy="80" r="70" stroke-linecap="round" />
        </svg>
        
    </div>
    

</body>