
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFF5D5;
    border-radius: 12px;
    height: 30vh;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.skill {
    width: 160px;
    height: 160px;
    position: relative;
}

.outer {
    background-color: white;

    height: 160px;
    width: 160px;
    border-radius: 50%;
    /*  border: 2px solid orangered;*/  
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    /*  border: 2px solid orangered*/
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), 
                   inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
         -0.5px -0.5px 0px rgba(255, 255, 255, 1), 
                  0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                  0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
    font-weight: 600;
    color: #555;
}

circle {

    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: anim 2s linear forwards;
}


:root {
    --percentage: {{MyPercentage}};
  }
  

@keyframes anim {
    100% {
        stroke-dashoffset: 170;
    }
}

/*Put it on the top of our circle*/
svg {
    position: absolute;
    top: 0;
    left: 0;
}

.smaller {
    font-size: 0.5em;
  }