#bgl th{
    background-color: #093649;
    color: white;
}

/* CSS Centering Code with the Universal Selector "*" */ 

#bgl{

    text-align: center;
   
}

#add_button{
 margin-bottom: 12px;
 margin-left: 5px;
 font-size: 20px;
}
h2{
    text-align: center;
}
#btn_delete {
color: red;
}
.low-recording {
    background-color: #ffc4c4 !important;
  }

