<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<div class = "container-fluid">
<div class="table-title">
    <br>
    <div class="row">
        <div class="column">
            <h2>Blood Glucose Level</h2>
        </div>
        <div class="column">
            <button type="button" id="add_button" class="btn btn-info add-new" routerLink="/bgl/new"><i class="fa fa-plus"></i>
                Add New</button>
        </div>
    </div>
</div>
<table class="table table-striped" id="bgl">
    <thead>
        <tr>
            <th scope="col-1">ID</th>
            <th scope="col-2">Measurement (mg/dL)</th>
            <th scope="col-3">Date</th>
            <th scope="col-4">Time</th>
            <th scope="col-5">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr scope="row" id="row1" *ngFor="let bgl of bgl" [class.low-recording]="bgl.measurement < 70">
                <td><b>{{ bgl.id }}</b></td>
                <td><b>{{ bgl.measurement }}</b></td>
                <td><b>{{ bgl.date }}</b></td>
                <td><b>{{ bgl.time }}</b></td>
                <td>
                    <button type="button" class="btn" title="Edit" (click)="getBGLById(bgl.id)" (click) = "redirect_edit()" data-toggle="tooltip"><i
                            class="material-icons">&#xE254;</i></button>
                    <button type="button" id="btn_delete" class="btn btnDelete" (click)="deleteBGL(bgl.id)" value="Reload Page"
                        onClick="window.location.reload(true)" title="Delete" data-toggle="tooltip"><i
                            class="material-icons">&#xE872;</i></button>
                </td>
        </tr>
    </tbody>
</table>
</div>
